.flashcard-game {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.game-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.flashcard-container {
    perspective: 1000px;
}
  
.flashcard-game .flashcard {
    width: 300px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: transform 0.6s;
    cursor: pointer;
}
  
.flashcard-game .flashcard-front, .flashcard-game .flashcard-back {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #000000;
    border: solid 1px gray;
}
  
.flashcard-game .flashcard-front {
    background-image: linear-gradient(45deg, white, gray);
}
  
.flashcard-game .flashcard-back {
    background-image: linear-gradient(45deg, gray, white);
    transform: rotateY(180deg);
}
  
.flashcard-game .flashcard.flipped {
    transform: rotateY(180deg);
    cursor: default;
}

.game-buttons {
    display: flex;
    gap: 5px;
}

.game-buttons button {
    padding: 8px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.guess-button {
    background-color: #ffc107;
    color: black;
}

.guess-button:hover {
    background-color: #e0a800;
}

.wrong-button {
    background-color: #dc3545;
    color: #fff;
}

.wrong-button:hover {
    background-color: #c82333;
}

.correct-button {
    background-color: #28a745;
    color: #fff;
}

.correct-button:hover {
    background-color: #218838;
}

.skip-button {
    background-color: #ccc;
    color: black
}
  
.skip-button:hover {
    background-color: #aaa;
}

.game-buttons button:disabled {
    background-color: #ccc;
    color: #666;
}

.game-summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
    border: solid 1px gray;
    padding: 10px;
    border-radius: 10px;
}

.game-summary .breakdown {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.game-summary .row {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    padding: 5px 10px;
    border-radius: 5px;
}

.game-summary .save-button {
    padding: 8px;
    padding-right: 10px;
    gap: 5px;
    background-color: #007bff;
    color: white;
    border-radius: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    line-height: 0;
}

.game-summary .save-button:hover {
    background-color: #0056b3;
}

.game-summary .save-button:disabled {
    background-color: #ccc;
    color: #666;
}