.navButtonsRow {
    display: flex;
    align-items: end;
}

.navButton {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 0;
}

.iconWrapper {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 28px;
    position: relative;
}

.dropDownWrapper {
    display: flex;
    align-items: center;
    height: fit-content;
}