.editPfpBtn {
    position: absolute;
    top: 160px;
    right: 160px;
}

.circle-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }