.navbar {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 6px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-buttons-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.navbar-button {
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 5px;
}

.navbar-button:hover {
    background-image: linear-gradient(90deg, orange, yellow);
    border-radius: 50px;
}

.dropdown-container {
    display: flex;
    align-items: center;
    height: fit-content;
}

.no-arrow::after {
    display: none;
}

.notifications-button {
    position: relative;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unread {
    position: absolute;
    top: 5px;
    right: 15px;
    transform: translate(50%, -50%);
    background-color: red;
    color: white;
    border-radius: 100px;
    padding: 0 5px;
    font-size: 0.7rem;
    font-weight: bold;
}

.searchbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
    position: relative;
}

.searchbar-container input {
    border-radius: 50px;
}

.searchbar-container i {
    position: absolute;
    top: 25%;
    right: 15px;
}