.class-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    display: flex;
    overflow: hidden;
    width: 75%;
}

.class-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.class-card-main {
    padding: 16px;
    flex-grow: 1;
}

.class-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.class-card-teacher {
    display: flex;
    align-items: center;
    gap: 10px;
}

.class-card-teacher .username {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.class-card-date-time {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    color: #333;
    font-weight: 500;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}

.class-card-date-time .date,
.class-card-date-time .time {
    display: flex;
    align-items: center;
    gap: 5px;
}

.class-card-date-time .date {
    font-size: 22px;
}

.class-card-content {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 16px;
}

.class-card-buttons, .pending-request-buttons {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.class-card-buttons button {
    padding: 6px 9px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    gap: 5px;
}

.pending-request-buttons button {
    padding: 3px 6px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
}

.reschedule-button {
    background-color: #007bff;
    color: #fff;
}

.reschedule-button:hover {
    background-color: #0056b3;
}

.reschedule-button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

.rate-button {
    background-color: #ffc107;
    color: #333;
}

.rate-button:hover {
    background-color: #e0a800;
}

.rate-button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

.cancel-button, .decline-button {
    background-color: #dc3545;
    color: #fff;
}

.cancel-button:hover, .decline-button:hover {
    background-color: #c82333;
}

.accept-button {
    background-color: #28a745;
    color: #fff;
}

.accept-button:hover {
    background-color: #218838;
}

.withdraw-button {
    background-color: lightgray;
    color: black
}

.withdraw-button:hover {
    background-color: darkgray;
}

.class-card-decorator {
    background-image: linear-gradient(90deg, #007bff, #00bfff);
    color: #fff;
    padding: 16px;
}