.features-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background: linear-gradient(to right, rgb(252, 176, 69, 0.7), rgb(255, 102, 102, 0.7));
    color: black;
    height: calc(100vh - 60px);
    box-sizing: border-box;
    position: relative;
}

.features-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);
    box-sizing: border-box;
    background-image: url('images/features.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.features-main {
    width: 60%;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features-main h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.features-main p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 2rem;
}

.features-main button {
    display: inline-block;
    background-color: #2575fc;
    color: #ffffff;
    text-decoration: none;
    padding: 0.8rem 2rem;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    border-radius: 50px;
}

.features-main button:hover {
    background-color: #1a5bb8;
    transform: translateY(-3px);
}

.features-list {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.features-list-item {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 1.5rem;
    text-align: left;
    flex: 1 1 calc(50% - 2rem);
    max-width: calc(50% - 2rem);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
}

.features-list-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.feature-icon-container {
    background-color: #2575fc;
    color: #ffffff;
    font-size: 2rem;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.features-list-item h4 {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
}

.features-list-item p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .features-list-item {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .features-main h2 {
        font-size: 2rem;
    }

    .features-main p {
        font-size: 1rem;
    }

    .features-main a {
        font-size: 1rem;
        padding: 0.7rem 1.5rem;
    }
}

@media (max-width: 480px) {
    .features-main h2 {
        font-size: 1.8rem;
    }

    .features-main p {
        font-size: 0.9rem;
    }

    .features-main a {
        font-size: 0.9rem;
    }
}
