@import '@fontsource/roboto/400.css'; /* Regular weight */
@import '@fontsource/roboto/700.css'; /* Bold weight */
@import '@fontsource/roboto/500.css'; /* semi Bold weight */

/* You can add global styles to this file, and also import other style files */
body {
    font-family: "Roboto", Helvetica, Arial, sans-serif !important; 
    font-size: 14px;
    background-image: url('/images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
  }
  
  .center {
    text-align: center;
  }
  
  .circle-crop {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .content-box {
    background-color: rgba(250, 250, 250, 0.8);
    border-radius: 20px;
    margin: 10px auto;
    width: fit-content;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 95%;
  }
  
  .user-card {
    background-color: rgba(250, 250, 250, 0.8);
    border-radius: 10px;
    width: 265px;
    height: 245px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
  }
  
  .mini-btn {
    padding: 0 3px;
    font-size: 11px;
    width: fit-content;
    height: fit-content;
  }
  
  .circle-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .no-arrow::after {
    display: none;
  }
  
  .lang-flag {
    width: 20px;
  }

  .addedIconWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .link-text {
    text-decoration: none;
    color: black;
  }
  
  .timestamp {
    font-size: 10px;
    margin: 0 5px;
  }
  
  #results-container {
    position: relative;
    width: 100%;
    margin-top: 0;
    display: flex;
    justify-content: center;
  }
  
  #results {
    position: absolute;
    top: 77%;
    width: 17%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-height: 250px;
    overflow-y: auto; 
    margin: 0; 
    padding: 0;
    list-style: none;
  }
  
  #results li {
    display: flex;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    background-color: white;
  }
  
  #results li:last-child {
    border-bottom: none;
  }
  
  #results img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
  }
  
  .overlay-li {
    /* position: absolute; */
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    z-index: 9999;
    width: calc(100% - 20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }
  
  .chatbox {
    padding: 8px 16px;
  }
  
  .chatbox-active {
    background-color: rgb(74, 164, 255);
  }
  
  .chatbox:hover {
    background-color: rgb(128, 191, 255);
  }
  
  .offer-card {
    background-color: rgba(250, 250, 250, 0.8);
    border-radius: 20px;
    width: 265px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .price {
    color:rgb(1, 191, 1);
    font-weight: bold;
  }
  
  .homepage-container {
    width: 100%;
    height: fit-content;
    background-size: cover; /* Adjust as needed */
    position: relative;
  }
  
  .homepage-container * {
    z-index: 2;
  }
  
  .homepage-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4); /* Semi-transparent overlay */
    z-index: 1;
  }
  
  .b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  
  .feature-icon-small {
    width: 3rem;
    height: 3rem;
  }
  
  #calendar {
    max-width: 900px;
    margin: 40px auto;
    margin-top: 0;
    padding: 10px;
    background-color: white;
    border-top: solid 5px rgb(255, 187, 59);
  }
  
  #manageClass {
    width: 20%;
    border-radius: 0;
  }
  
  /* Custom styles for bootstrap-datepicker */
  .datepicker {
    background-color: #f8f9fa; /* Light background */
    border: 1px solid #dee2e6; /* Border color */
    border-radius: 0.25rem; /* Border radius */
  }
  
  .datepicker-days .day.disabled {
    background-color: #e9ecef; /* Disabled date background */
    color: #b7b7b7; /* Disabled date text color */
  }
  
  .datepicker-days .day.selected,
  .datepicker-days .day:hover {
    background-color: #007bff; /* Selected and hovered date background */
    color: #fff; /* Selected and hovered date text color */
  }
  
  .star-rating {
    display: flex;
    direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2em;
  }
  
  .star {
    cursor: pointer;
    color: #ccc; /* Default color */
  }
  
  .star.hover,
  .star.active {
    color: #ffca08; /* Highlight color */
  }
  
  .review-card {
    width: 100%;
    background-color: rgba(250, 250, 250, 0.8);
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .calendar-card {
    background-color: rgba(250, 250, 250, 0.9);
    border-radius: 20px;
    width: 265px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    z-index: 1000;
  }
  
  .flashcard-container {
    perspective: 1000px;
  }
  
  .flashcard {
    width: 300px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: transform 0.6s;
  }
  
  .fc-front, .fc-back {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #000000;
    border: solid 1px gray;
  }
  
  .fc-front {
    background-image: linear-gradient(45deg, white, gray);
  }
  
  .fc-back {
    background-image: linear-gradient(45deg, gray, white);
    transform: rotateY(180deg);
  }
  
  .flashcard.flipped {
    transform: rotateY(180deg);
  }
  
  .offer-card:hover, .user-card:hover {
    background-color: rgba(250, 250, 250, 1);
    transition: background-color 0.7s;
  }
  
  #statistics {
    background-color: rgba(250, 250, 250, 0.8);
  }
  
  .hr-with-text {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
  }
  
  .hr-with-text::before,
  .hr-with-text::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #000;
  }
  
  .hr-with-text:not(:empty)::before {
    margin-right: 10px;
  }
  
  .hr-with-text:not(:empty)::after {
    margin-left: 10px;
  }
  
  .hr-with-text span {
    display: inline-block;
    padding: 0 10px;
    font-size: 24px; /* Adjust the font size as needed */
  }
  
  /* Speech Bubble Style for Blue */
  .speech-bubble-blue {
    background-color: rgba(173, 216, 230, 0.5); /* Light blue with some transparency */
    border-radius: 15px; /* Rounded corners */
    position: relative; /* Needed for the triangle positioning */
    padding: 20px; /* Internal padding */
    margin: 10px 0; /* Margin for spacing */
  }
  
  /* Triangle pointer of the blue speech bubble */
  .speech-bubble-blue::after {
    content: '';
    position: absolute;
    bottom: 10px; /* Adjust vertical position */
    right: -15px; /* Adjust horizontal position */
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid rgba(173, 216, 230, 0.5); /* Color of the bubble */
  }